<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Pokémon - Login page</title>
    <link rel="stylesheet" type="text/css" href="~/Css/StyleSheet.css" />
    <link href="https://fonts.googleapis.com/css?family=Lakki+Reddy|Special+Elite" rel="stylesheet">
</head>
<body align="center" valign="middle">
    <img src="~/Images/pokemon_icon.png" height="200"/>
    <form action="/user" method="post">
        <label for="userName">What's your name? </label>
        <input type="text" id="userName" name="User.Name" /><br /><br />
        <input type="submit" value="Click here to play the game" style="font-size: 20px; font-family: 'Special Elite'" />
    </form>

</body>
</html>